@model IEnumerable<Farm_Management.Models.NalathView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YEAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YEAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        
        <td>
           
            @Html.ActionLink("View", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
